[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
url=https://github.com/gwdg/puppetlabs-apache.git
	branch = liberty
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/gwdg/puppetlabs-apt.git
	branch = liberty
[submodule "puppet/modules/aptly"]
	path = puppet/modules/aptly
	url = https://github.com/gwdg/puppet-aptly.git
	branch = liberty
[submodule "puppet/modules/ceilometer"]
	path = puppet/modules/ceilometer
	url = https://github.com/gwdg/puppet-ceilometer.git
	branch = liberty
[submodule "puppet/modules/ceph"]
	path = puppet/modules/ceph
	url = https://github.com/gwdg/puppet-ceph.git
	branch = liberty
[submodule "puppet/modules/cinder"]
	path = puppet/modules/cinder
	url = https://msrba@github.com/gwdg/puppet-cinder.git
	branch = liberty
[submodule "puppet/modules/cloud"]
	path = puppet/modules/cloud
	url = https://github.com/gwdg/puppet-openstack-cloud.git
	branch = liberty
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
url=https://github.com/gwdg/puppetlabs-concat.git
	branch = liberty
[submodule "puppet/modules/corosync"]
	path = puppet/modules/corosync
	url = https://msrba@github.com/gwdg/puppetlabs-corosync.git
	branch = liberty
[submodule "puppet/modules/dns"]
	path = puppet/modules/dns
url=https://github.com/gwdg/puppet-dns.git
	branch = liberty
[submodule "puppet/modules/docker"]
	path = puppet/modules/docker
	url = https://github.com/gwdg/puppet-docker.git
	branch = liberty
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = https://github.com/gwdg/puppetlabs-firewall.git
	branch = liberty
[submodule "puppet/modules/galera"]
	path = puppet/modules/galera
	url = https://github.com/gwdg/puppet-galera.git
	branch = liberty
[submodule "puppet/modules/glance"]
	path = puppet/modules/glance
	url = https://github.com/gwdg/puppet-glance.git
	branch = liberty
[submodule "puppet/modules/haproxy"]
	path = puppet/modules/haproxy
	url = https://github.com/gwdg/puppetlabs-haproxy.git
	branch = liberty
[submodule "puppet/modules/heat"]
	path = puppet/modules/heat
	url = https://github.com/gwdg/puppet-heat.git
	branch = liberty
[submodule "puppet/modules/horizon"]
	path = puppet/modules/horizon
	url = https://github.com/gwdg/puppet-horizon.git
	branch = liberty
[submodule "puppet/modules/java"]
	path = puppet/modules/java
	url = https://github.com/gwdg/puppetlabs-java.git
	branch = liberty
[submodule "puppet/modules/keepalived"]
	path = puppet/modules/keepalived
	url = https://github.com/gwdg/puppet-module-keepalived.git
	branch = liberty
[submodule "puppet/modules/keystone"]
	path = puppet/modules/keystone
	url = https://github.com/gwdg/puppet-keystone.git
	branch = liberty
[submodule "puppet/modules/limits"]
	path = puppet/modules/limits
	url = https://github.com/gwdg/puppet-limits.git
	branch = liberty
[submodule "puppet/modules/logrotate"]
	path = puppet/modules/logrotate
	url = https://github.com/gwdg/puppet-logrotate.git
	branch = liberty
[submodule "puppet/modules/logstash"]
	path = puppet/modules/logstash
	url = https://github.com/gwdg/puppet-logstash.git
	branch = liberty
[submodule "puppet/modules/inifile"]
	path = puppet/modules/inifile
	url = https://github.com/gwdg/puppetlabs-inifile.git
	branch = liberty
[submodule "puppet/modules/magnum"]
	path = puppet/modules/magnum
	url = https://github.com/gwdg/puppet-magnum.git
	branch = liberty
[submodule "puppet/modules/memcached"]
	path = puppet/modules/memcached
	url = https://github.com/gwdg/puppet-memcached.git
	branch = liberty
[submodule "puppet/modules/mongodb"]
	path = puppet/modules/mongodb
	url = https://github.com/gwdg/puppetlabs-mongodb.git
	branch = liberty
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/gwdg/puppetlabs-mysql.git
	branch = liberty
[submodule "puppet/modules/neutron"]
	path = puppet/modules/neutron
	url = https://github.com/gwdg/puppet-neutron.git
	branch = liberty
[submodule "puppet/modules/nfs"]
	path = puppet/modules/nfs
	url = https://github.com/gwdg/puppet-module-nfs.git
	branch = liberty
[submodule "puppet/modules/nova"]
	path = puppet/modules/nova
	url = https://github.com/gwdg/puppet-nova.git
	branch = liberty
[submodule "puppet/modules/ntp"]
	path = puppet/modules/ntp
	url = https://github.com/gwdg/puppetlabs-ntp.git
	branch = liberty
[submodule "puppet/modules/openstacklib"]
	path = puppet/modules/openstacklib
	url = https://github.com/gwdg/puppet-openstacklib.git
[submodule "puppet/modules/pacemaker"]
	path = puppet/modules/pacemaker
	url = https://github.com/gwdg/puppet-pacemaker.git
	branch = liberty
[submodule "puppet/modules/partial"]
	path = puppet/modules/partial
	url = https://github.com/gwdg/puppet-partial.git
	branch = liberty
[submodule "puppet/modules/postgresql"]
	path = puppet/modules/postgresql
	url = https://github.com/gwdg/puppetlabs-postgresql.git
	branch = liberty
[submodule "puppet/modules/puppetdb"]
	path = puppet/modules/puppetdb
	url = https://github.com/gwdg/puppetlabs-puppetdb.git
	branch = liberty
[submodule "puppet/modules/puppetdbquery"]
	path = puppet/modules/puppetdbquery
	url = https://github.com/gwdg/puppet-puppetdbquery.git
	branch = liberty
[submodule "puppet/modules/rabbitmq"]
	path = puppet/modules/rabbitmq
	url = https://github.com/gwdg/puppetlabs-rabbitmq.git
	branch = liberty
[submodule "puppet/modules/redis"]
	path = puppet/modules/redis
	url = https://github.com/gwdg/puppet-redis.git
	branch = liberty
[submodule "puppet/modules/sahara"]
	path = puppet/modules/sahara
	url = https://github.com/gwdg/puppet-sahara.git
	branch = liberty
[submodule "puppet/modules/ssh"]
	path = puppet/modules/ssh
	url = https://github.com/gwdg/puppet-ssh.git
	branch = liberty
[submodule "puppet/modules/staging"]
	path = puppet/modules/staging
	url = https://github.com/gwdg/puppet-staging.git
	branch = liberty
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/gwdg/puppetlabs-stdlib.git
	branch = liberty
[submodule "puppet/modules/sudo"]
	path = puppet/modules/sudo
	url = https://github.com/gwdg/puppet-sudo.git
	branch = liberty
[submodule "puppet/modules/sysctl"]
	path = puppet/modules/sysctl
	url = https://github.com/gwdg/puppet-sysctl.git
	branch = liberty
[submodule "puppet/modules/trove"]
	path = puppet/modules/trove
	url = https://github.com/gwdg/puppet-trove.git
	branch = liberty
[submodule "puppet/modules/vswitch"]
	path = puppet/modules/vswitch
	url = https://github.com/gwdg/puppet-vswitch.git
	branch = liberty
[submodule "puppet/modules/xinetd"]
	path = puppet/modules/xinetd
	url = https://github.com/gwdg/puppetlabs-xinetd.git
	branch = liberty
