[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
url=https://github.com/gwdg/puppetlabs-apache.git
	branch = liberty
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/gwdg/puppetlabs-apt.git
	branch = liberty
